{% extends 'BrainappCoreBundle:Template:template_default.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets  'bundles/brainappcore/css/default_template.css'
					'bundles/brainappcore/css/default_navbar.css'
					'bundles/brainappcore/css/default_form.css'
					'bundles/brainappcore/css/index.css' filter="cssrewrite" %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}

{% block content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <img alt="" src="{{ asset('bundles/brainappcore/images/brain-icon.png') }}" class="img-responsive">
                    <div class="intro-text">
                        <span class="name">Brainapp</span>
                        <hr class="star-light">
                        <span class="subtitle">Das webbasierte Haushaltsbuch</span>
                    </div>
                </div>
                	{% include 'BrainappUserBundle:Registration:register_form.html.twig' with { 'form': form_registration } %}
            </div>
        </div>
    </header>

	{# SECTION LOGIN #}
	<section id="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Login</h2>
                    <hr class="star-primary">
                </div>
                <div class="col-lg-12">
                	{% include 'BrainappUserBundle:Security:login_widget.html.twig' %}
                </div>
            </div>
		</div>
    </section>
{% endblock content %}

{% block javascripts %}
	{{ parent() }}
    {% javascripts '@jqueryui_js' '@BrainappCoreBundle/Resources/public/js/classie.js' '@BrainappCoreBundle/Resources/public/js/default.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}