{% extends 'BrainappCoreBundle:Template:template_default.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets  'bundles/brainappcore/css/default_template.css'
					'bundles/brainappcore/css/default_navbar.css'
					'bundles/brainappcore/css/default_form.css'
					'bundles/brainappcore/css/index.css' filter="cssrewrite" %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}

{% block content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-xs-12">
                    <img alt="" src="{{ asset('bundles/brainappcore/images/brain-icon.png') }}" class="img-responsive">
                    <div class="intro-text">
                        <span class="name">Brainapp</span>
                        <hr class="star-light">
                        <span class="subtitle">Das webbasierte Haushaltsbuch</span>
                    </div>
                </div>
                	{# Formular f端r Registrierung einbinden #}
                	{% include 'BrainappUserBundle:Registration:register_form.html.twig' with { 'form': form_registration, 'csrf_token': csrf_token_registration} %}
            </div>
        </div>
    </header>

   {% if modal_login %}
    {% include 'BrainappUserBundle:Security:login_modal.html.twig' with { 'csrf_token': csrf_token_login } %}
   {% else %}
	{# SECTION LOGIN #}
	<section id="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Login</h2>
                    <hr class="star-primary">
                </div>
                <div class="col-lg-12">
{#                 	{% include 'BrainappUserBundle:Security:login_form_box.html.twig' with { 'csrf_token': csrf_token_login } %}#}
                	{% include 'BrainappUserBundle:Security:login_widget.html.twig' with { 'csrf_token': csrf_token_login } %}
                	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">
                      login modal
                    </button>
                </div>
            </div>
		</div>
    </section>
   {% endif %}

	{# SECTION ABOUT #}
	<section id="about"{% if modal_login == false %} class="success"{% endif %}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    {% if modal_login %}<hr class="star-primary">{% else %}<hr class="star-light">{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                	<p><strong>Brainapp</strong> entstand im Rahmer einer studentischen Projektarbeit der <strong>Hochschule f端r Telekommunikation Leipzig (HfTL)</strong> durch die Studentengruppe KMI14/WI14</p>
                </div>
                <div class="col-lg-3 col-lg-offset-1">
                	{% if modal_login %}{% set image_path = 'bundles/brainappcore/images/hftl-logo.jpg' %}
                	{% else %}{% set image_path = 'bundles/brainappcore/images/hftl-logo-n.png' %} {% endif %}
                	<a href="www.hft-leipzig.de" target="_blank"><img alt="Hochschule f端r Telekommunikation Leipzig (HftL)" title="Website der Hochschule f端r Telekommunikation Leipzig (HftL)" src="{{ asset(image_path) }}" class="img-responsive"></a>
                </div>
            </div>
		</div>
    </section>
{% endblock content %}

{% block javascripts %}
	{{ parent() }}
    {% javascripts '@jqueryui_js' '@BrainappCoreBundle/Resources/public/js/classie.js' '@BrainappCoreBundle/Resources/public/js/default.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if modal_login %}
    {% javascripts '@BrainappUserBundle/Resources/public/js/modal_login.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}
{% endblock %}