{% trans_default_domain 'FOSUserBundle' %}

<form id="box-login" class="box tile animated active" action="{{ path("fos_user_security_check") }}" method="post">
	<h2 class="box-title">Login</h2>
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	
	<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" class="login-control" />
	<input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" class="login-control" />
	<input type="submit" id="submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn" />
	<small>
		<a href="" data-switch="box-register" class="box-switcher">Noch keinen Account?</a> oder
	    <a href="" data-switch="box-reset" class="box-switcher">Passwort vergessen?</a>
    </small>
</form>
